.rate-argument(
ng-if="withVotingButtons"
)
	button.transparent.tiny.fa.fa-chevron-up(
	ng-click="argCtrl.vote('up', argument.id)"
	)
	span.score {{ argument.votes.up - argument.votes.down }}
	button.transparent.tiny.fa.fa-chevron-down(
	ng-click="argCtrl.vote('down', argument.id)"
	)

.argument
	p {{ argument.content }}
	.author
		img(ng-src="{{ argument.author.avatar }}")
		span.displayName {{ argument.author.displayName }}
		span.createdAt {{ argument.hour }} | {{ argument.date }}

	.options(
	ng-if="withCommentsButtons"
	)

		button.tiny.transparent.num-comments.fa(
		ng-click="argCtrl.showComments()"
		ng-class="argument.comments.length === 1 ? 'fa-comment-o' : 'fa-comments-o'"
		title="הצג והוסף תגובות לטיעון זה"
		) {{ argCtrl.numberOfComments() }} לטיעון

