.meta.paper.less

	h1 {{ draft.title }}
	p.description {{ draft.description }}

	.author
		img(ng-src="{{ draft.author.avatar }}")
		span.displayName {{ draft.author.displayName }}
		span.createdAt {{ draft.hour }} | {{ draft.date }}

.draft.paper

	button.transparent.fa.fa-plus(
	ng-click="draft.addParaBefore()"
	title="הוסף סעיף כאן"
	)
		span הוסף סעיף כאן

	.para(ng-repeat="paragraph in draft.content track by $index")

		p {{ paragraph }}

		.actions

			button.transparent.fa.fa-edit(
			ng-click="draft.showSuggestionsList($index)"
			ng-attr-title="{{ draft.changesAtPara($index).length ? 'הצג הצעות' : 'הוסף הצעת' }} שינוי לסעיף"
			)
				span.label {{ draft.changesAtPara($index).length ? 'הצג הצעות' : 'הוסף הצעת' }} שינוי לסעיף
				span(ng-show="draft.changesAtPara($index).length") ({{draft.changesAtPara($index).length}})

			button.transparent.fa.fa-plus(
			ng-click="draft.addParaAfter($index)"
			title="הוסף סעיף כאן"
			)
				span.label הוסף סעיף כאן

.tabs.tight.paper.less
	a(href="#" ng-click="draft.extraDetails = 'comments'" ng-class="draft.extraDetails === 'comments' ? 'active' : ''")
		span.counter {{ draft.counters.comments }}
		|הערות
	a(href="#" ng-click="draft.extraDetails = 'suggestions'" ng-class="draft.extraDetails === 'suggestions' ? 'active' : ''")
		span.counter {{ draft.counters.suggestions }}
		|הצעות
	a(href="#" ng-click="draft.extraDetails = 'history'" ng-class="draft.extraDetails === 'history' ? 'active' : ''")
		span.counter {{ draft.counters.history }}
		|שינויים

.draft-comments.edgy.paper.step(
ng-show="draft.extraDetails === 'comments'"
)

	article.single-comment(ng-repeat="comment in draft.comments | orderBy: '-createdAt'")

		p {{ comment.content }}
		.author
			img(ng-src="{{ comment.author.avatar }}")
			span.displayName {{ comment.author.displayName }}
			span.createdAt {{ comment.hour }} | {{ comment.date }}

.edit-suggestions.edgy.paper.step(
ng-show="draft.extraDetails === 'suggestions'"
)

	edit-suggestion(
	ng-repeat="suggestion in draft.suggestions | orderBy: '-createdAt'"
	value="suggestion"
	)

.draft-history.edgy.paper.step(
ng-show="draft.extraDetails === 'history'"
)

	article.single-edit(ng-repeat="commit in draft.history | orderBy: '-updatedAt'")

		h3 {{ commit.title }}

		.author
			img(ng-src="{{ commit.author.avatar }}")
			span.displayName {{ commit.author.displayName }}
			span.createdAt {{ commit.hour }} | {{ commit.date }}

		p {{ commit.description }}

		.changes
			span(ng-repeat="change in commit.changes" ng-class="change.state") {{ change.content }}

		.acceptedAt הצעת שינוי זו התקבלה ב- {{ commit.hour }} | {{ commit.date }}