.modal.suggestionsList(
modal-sizer, stop-propagation
ng-controller="suggestionsListCtrl as sgstListCtrl"
)

	header
		h2 {{ sgstListCtrl.numberOfSuggestions }} לשינוי הסעיף

		.fa.fa-close(ng-click="modal.reset()")

	main

		edit-suggestion(
		ng-repeat="suggestion in sgstListCtrl.suggestions | orderBy: '-craetedAt'"
		value="suggestion"
		voting="buttons"
		)

		.form.add-suggestion(
		ng-form="addSuggestionForm"
		ng-class="sgstListCtrl.showValidation ? 'showValidation' : ''"
		)

			h3 הסעיף בגרסא הנוכחית:

			p {{ sgstListCtrl.paraData.content }}

			textarea.verbose {{ sgstListCtrl.newPara.content }}

	footer
		span.validation(ng-show="sgstListCtrl.showValidation") שימו לב לשדות שלא מולאו כשורה.
		button.submit.silent(ng-click="sgstListCtrl.send(newGroupSuggestionForm.$valid)") {{ modal.prompts.sendForm }}



