.paper.full.develop(
ng-if="main.user.isAdmin"
)
	admin-homepage

.paper.full.topHero

	h1.topline
		|הגיע הזמן להתארגן ברשת

	h2.groupsSum
		span.num {{ homeState.groupsSum + ' ' }}
		span.sumOf יוזמות חברתיות

.paper.full.whatsUp

	header.lineThrough
		span מה קורה פה בעצם?

	.paras

		p בכמה מילים - האתר מציג תעודות זהות של יוזמות חברתיות וקריאות שלהן להתנדבות ועשייה חברתית.

		p.emphasized
			|"ריכוז הפוטנציאל הגבוה ביותר
			br
			|שוכן באדם שטרם התוודע לעוצמתו"

		p
			|מכאן נוסדה רעיונית איפשהו שם בתחילת 2013 כסוג של ניסוי כלים. אז עוד קראנו לזה 'דרכנו'. הרבה מים עברו מתחת לגשר, וכך או אחרת - היוזמה נמצאת בפיתוח תמידי.

		p
			|היינו רוצים לתת יד ליוזמות חברתיות הפועלות בדרכנו ומשקיעות אנרגיה כה רבה למה שמטיב עם כולנו. כמטרת על -&nbsp;
			i לעת עתה
			|- מכאן שואפת להיות במה מסודרת העונה על זוג צרכים בסיסיים - הנגשת מידע וגיוס משאבים ומתנדבים.

		p בשלב זה המערכת מאפשרת ליוזמות חברתיות לנהל עמוד פרופיל ולהזין אליו פרטי התקשרות והצעות להתנדבות. בעתיד אנחנו מקווים לענות על צרכים ספציפיים יותר של היוזמות החברתיות בארץ.

		a.button.silent.accent(ui-sref="about") אודותינו

.paper.full.homeActions

	header.lineThrough
		span מה אפשר לעשות?

	.actions

		.action.registerGroup(
		ng-click="home.addGroup()"
		)
			img(
			src="https://s3.eu-central-1.amazonaws.com/mican/misc/home-actions/add-group.png"
			)
			span לרשום יוזמה חדשה

		a.action.volunteer(
		ui-sref="tasks"
		)
			img(
			src="https://s3.eu-central-1.amazonaws.com/mican/misc/home-actions/help-group.png"
			)
			span לעזור ליוזמה

		a.action.findGroup(
		ui-sref="groups"
		)
			img(
			src="https://s3.eu-central-1.amazonaws.com/mican/misc/home-actions/explore-groups.png"
			)
			span למצוא יוזמה במאגר

.paper.full.groupCategories

	header.lineThrough
		span זירות העשייה

	.categories

		a.singleCategory(
		ng-repeat="(color, catTitle) in main.categories"
		ng-class="'back-' + color"
		ui-sref="groups({ category: main.engCatSlug(color) })"
		)
			img(ng-src="{{ 'https://s3.eu-central-1.amazonaws.com/mican/icons/' + color + '.png' }}")
			span {{ catTitle }}

.paper.full.newsletter

	header.lineThrough
		span שמרו על קשר

	input(
	type="email"
	ng-model="home.subscriberEmail"
	placeholder="כתובת מייל"
	)
	button.confirm(
	ng-click="home.subscribe()"
	) שלח לי עידכונים

	.newsletter-assurances
		span מיילים מועטים, עידכונים עיקריים.
		span.lesser בלי פרסומות או ספאם מיותר.

footer

	.nets
		a.fa.fa-fw.fa-twitter(
		href="https://twitter.com/micancoil"
		title="הצייצת של מכאן"
		target="_blank"
		)
		a.fa.fa-fw.fa-github(
		href="https://github.com/panstav/mican"
		title="הקוד-פתוח של מכאן"
		target="_blank"
		)

	.made-in מייד-אין ראשון לציון ומצפה רמון.