.meta.paper.less

	h1 {{ dEdit.title }}

	.draft-ref
		|הצעת שינוי למסמך:&nbsp;
		a(ui-sref="draft({ draftId: dEdit.draftId })") {{ dEdit.draftTitle }}

	.author
		span מאת:
		img(ng-src="{{ dEdit.author.avatar }}")
		span.displayName {{ dEdit.author.displayName }}
		span.createdAt {{ dEdit.hour }} | {{ dEdit.date }}

.changes.paper
	span(ng-repeat="change in dEdit.changes | orderBy: 'para'" ng-class="change.state") {{ change.content }}

.desc.paper.less

	p.description {{ dEdit.description }}

	fa-sharing-buttons(
	share-text="dEdit.shareText"
	url="dEdit.currentUrl"
	)

.action.edgy.paper.less.step
	button.big.for.fa.fa-thumbs-o-up
		|אני בעד&nbsp;
		span.num-votes(
		ng-show="dEdit.votes.for"
		) ({{ dEdit.votes.for }}+)
	button.big.against.fa.fa-thumbs-o-down
		|אני נגד&nbsp;
		span.num-votes(
		ng-show="dEdit.votes.against"
		) ({{ dEdit.votes.against }}+)

.discussion.edgy.paper

	.for

		.top-border

		.no-arguments(ng-hide="dEdit.supports.length") אין טענות בעד עדיין

		article(ng-repeat="support in dEdit.supports | orderBy: 'votes.for -votes.against'")

			.rate-argument
				button.transparent.tiny.fa.fa-chevron-up
				span.score {{ support.votes.up - support.votes.down }}
				button.transparent.tiny.fa.fa-chevron-down

			.argument
				p {{ support.content }}
				.author
					img(ng-src="{{ support.author.avatar }}")
					span.displayName {{ support.author.displayName }}
					span.createdAt {{ support.hour }} | {{ support.date }}

				button.tiny.transparent.add-comment.fa.fa-plus(
				title="הוסף תגובה לטיעון זה"
				) הוסף תגובה

				button.tiny.transparent.num-comments.fa(
				ng-class="support.comments.length === 1 ? 'fa-comment-o' : 'fa-comments-o'"
				title="הצג תגובות לטיעון זה"
				ng-show="support.comments.length"
				) {{ support.comments.length === 1 ? 'תגובה אחת' : support.comments.length + ' תגובות' }} לטיעון זה


	.against

		.top-border

		.no-arguments(ng-hide="dEdit.rejects.length") אין טענות נגד עדיין

		article(ng-repeat="reject in dEdit.rejects | orderBy: 'votes.for -votes.against'")

			.rate-argument
				button.transparent.tiny.fa.fa-chevron-up
				span.score {{ reject.votes.up - reject.votes.down }}
				button.transparent.tiny.fa.fa-chevron-down

			.argument
				p {{ reject.content }}
				.author
					img(ng-src="{{ reject.author.avatar }}")
					span.displayName {{ reject.author.displayName }}
					span.createdAt {{ reject.hour }} | {{ reject.date }}

				button.tiny.transparent.add-comment.fa.fa-plus(
				title="הוסף תגובה לטיעון זה"
				) הוסף תגובה

				button.tiny.transparent.num-comments.fa(
				ng-class="reject.comments.length === 1 ? 'fa-comment-o' : 'fa-comments-o'"
				title="הצג תגובות לטיעון זה"
				ng-show="reject.comments.length"
				) {{ reject.comments.length === 1 ? 'תגובה אחת' : reject.comments.length + ' תגובות' }} לטיעון זה

.edit-comments.paper.less(
ng-show="dEdit.comments.length"
)

	h2 {{ dEdit.comments.length === 1 ? 'תגובה אחת נוספת' : dEdit.comments.length + ' תגובות נוספות' }} להצעת השינוי

	article.single-comment(ng-repeat="comment in dEdit.comments | orderBy: '-createdAt'")

		p {{ comment.content }}
		.author
			img(ng-src="{{ comment.author.avatar }}")
			span.displayName {{ comment.author.displayName }}
			span.createdAt {{ comment.hour }} | {{ comment.date }}

//.reasons.tabs.tight.paper.less
//	a(href="#" ng-click="dEdit.extraDetails = 'support'" ng-class="dEdit.extraDetails === 'support' ? 'active' : ''")
//		|בעד
//	a(href="#" ng-click="dEdit.extraDetails = 'disucssion'" ng-class="dEdit.extraDetails === 'disucssion' ? 'active' : ''")
//		|דיון
//	a(href="#" ng-click="dEdit.extraDetails = 'reject'" ng-class="dEdit.extraDetails === 'reject' ? 'active' : ''")
//		|נגד
//
//.supports.edgy.paper.step(
//ng-show="dEdit.extraDetails === 'support'"
//)
//
//	article.single-support(ng-repeat="support in dEdit.supports | orderBy: 'votes.for -votes.against'")
//
//		p {{ support.content }}
//		.author
//			img(ng-src="{{ support.author.avatar }}")
//			span.displayName {{ support.author.displayName }}
//			span.createdAt {{ support.hour }} | {{ support.date }}
//
//.discussion.edgy.paper.step(
//ng-show="dEdit.extraDetails === 'discussion'"
//)
//
//	article.single-comment(ng-repeat="comment in dEdit.comments | orderBy: 'votes.for -votes.against'")
//
//		p {{ comment.content }}
//		.author
//			img(ng-src="{{ comment.author.avatar }}")
//			span.displayName {{ comment.author.displayName }}
//			span.createdAt {{ comment.hour }} | {{ comment.date }}
//
//.rejects.edgy.paper.step(
//ng-show="dEdit.extraDetails === 'reject'"
//)
//
//	article.single-reject(ng-repeat="reject in dEdit.rejects | orderBy: 'votes.for -votes.against'")
//
//		p {{ reject.content }}
//		.author
//			img(ng-src="{{ reject.author.avatar }}")
//			span.displayName {{ reject.author.displayName }}
//			span.createdAt {{ reject.hour }} | {{ reject.date }}