.meta.paper.less

	h1 {{ dEdit.title }}

	.draft-ref
		|הצעת שינוי למסמך:&nbsp;
		a(ui-sref="draft({ draftId: dEdit.draftId })") {{ dEdit.draftTitle }}

	.author
		span מאת:
		img(ng-src="{{ dEdit.author.avatar }}")
		span.displayName {{ dEdit.author.displayName }}
		span.createdAt {{ dEdit.hour }} | {{ dEdit.date }}

.paper.less

	.inline-tabs

		a(
		ng-click="dEdit.hideContext()"
		ng-class="!dEdit.showingContext ? 'active' : ''"
		) השינויים עצמם

		span &nbsp;|&nbsp;

		a(
		ng-click="dEdit.showContext()"
		ng-class="dEdit.showingContext ? 'active' : ''"
		) כל הטיוטה בצירוף השינויים

.changes.paper.step

	p(ng-repeat="para in dEdit.contextParas.before") {{ para }}

	p(ng-class="dEdit.showingContext ? 'changes-view' : ''")
		span(ng-repeat="change in dEdit.changes | orderBy: '+para'" ng-class="change.state") {{ change.content }}

	p(ng-repeat="para in dEdit.contextParas.after") {{ para }}

.desc.paper.less

	p.description {{ dEdit.description }}

	fa-sharing-buttons(
	share-text="dEdit.shareText"
	url="dEdit.currentUrl"
	)

.action.edgy.paper.less.step

	voting-buttons(
	num-votes="dEdit.votes"
	user-voted="dEdit.userVoted"
	button-classes="big"
	)

.discussion.edgy.paper

	.for

		arguments-list(
		value="dEdit.supports"
		limit="2"
		with-show-more-arguments="true"
		with-voting-buttons="true"
		with-comments-buttons="true"
		)

	.against

		arguments-list(
		value="dEdit.rejects"
		limit="2"
		with-show-more-arguments="true"
		with-voting-buttons="true"
		with-comments-buttons="true"
		)

.edit-comments.paper.less

	h2 {{ dEdit.numberOfComments() }} להצעת השינוי

	add-comment(
	ng-hide="dEdit.newCommentPosted"
	content="dEdit.newComment"
	send="dEdit.addComment()"
	button-class="white"
	)

	article.single-comment(ng-repeat="comment in dEdit.comments | orderBy: '-createdAt'")

		p {{ comment.content }}
		.author
			img(ng-src="{{ comment.author.avatar }}")
			span.displayName {{ comment.author.displayName }}
			span.createdAt {{ comment.hour }} | {{ comment.date }}