button.for(
ng-click="vtngButtonsCtrl.vote('for')"
ng-class="vtngButtonsCtrl.buttonClasses('for')"
)

	.fa.fa-fw(ng-class="'fa-thumbs' + (userVoted === 'for' ? '' : '-o') + '-up'")

	| אני בעד&nbsp;

	span.num-votes(
	ng-show="dEdit.votes.for"
	) ({{ numVotes.for }}+)

button.against(
ng-click="vtngButtonsCtrl.vote('against')"
ng-class="vtngButtonsCtrl.buttonClasses('against')"
)

	.fa.fa-fw(ng-class="'fa-thumbs' + (userVoted === 'against' ? '' : '-o') + '-down'")

	| אני נגד&nbsp;

	span.num-votes(
	ng-show="numVotes.against"
	) ({{ numVotes.against }}+)